.category-container p{
    padding: 10px;
}

.category-container p:hover{
    background-color: red;
}
.category a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;   
}